/* RESETEO */
*{
    margin: 0;
    padding: 0;
}
/* CUANDO LO QUIERO VER EN UN CELULAR */
/* GRILLA */
.grilla {  
    display: grid;
    grid-template-columns: .5fr 2.5fr 2.5fr;
    grid-template-rows: .5fr 1fr 1fr 1fr .3fr;
    row-gap: 2%;
    grid-template-areas:
    "header h1tit h1tit"
    "header sec1 sec1"
    "header sec2 sec2"
    "header sec3 sec3"
    "footer footer footer";
    background-color: #261910;
    color: white;
}

/* HEADER */
.h1tit{
    grid-area: h1tit;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#c2bc99, rgb(58, 4, 4));
    width: 100%;
    height: 100%;
}
.h1tit h1 {
    font-family: 'Tiro Gurmukhi', serif;
    text-align: center;
    font-size: 200%;
}
.header {
    grid-area: header;
    background-color: #42382e;
    display: flex;
    flex-direction: column;
    font-family: 'Tiro Gurmukhi', serif;
}
.ul-class {
    margin-top: 50%;
    width: 100%;
    text-align: center;
}
.barranav img{
    width: 50%;
    margin-left: 20%;
}
.barranav li {
    list-style: none;
    padding: 20px;
    height: 30px;
}
.barranav li:hover {
    background-color: #6f564f;
}
.barranav a {
    color: white;
    text-decoration: none;
}

/* SECCIONES */
.section1 {
    grid-area: sec1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Tiro Gurmukhi', serif;
    margin: .1rem .5rem;
}
.section1 p h2{
    text-align: center;
    margin: 1rem;
}
.section1 img{
    max-width: 100%;
    margin: 1rem;
}
.section2 {
    grid-area: sec2; 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Tiro Gurmukhi', serif;
    margin: .2rem .5rem;
}
.section2 p h2{
    text-align: center;
    margin: 1rem;
}
.section2 img{
    max-width: 100%;
    margin: 1rem;
}
.section3 { 
    grid-area: sec3;
    display: flex;
    flex-direction: column;
    align-items: center;  
    font-family: 'Tiro Gurmukhi', serif; 
    margin: .2rem .5rem; 
}
.section3 p h2 {  
    text-align: center;
    margin: 1rem;
}
.section3 img{
    max-width: 100%;
    margin: 1rem;
}

/* FOOTER */
.footer { 
    grid-area: footer;
    background-image: linear-gradient(#c2bc99, rgb(58, 4, 4));
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer ol{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer li{
    margin: 5%;
    padding: 5%;
}
.footer img {
    max-width: 150%;
}
/* MEDIA QUERY */
/* CUANDO LO QUIERO VER EN UNA NOTEBOOK */
@media (min-width: 1024px) {
    .h1tit {display: none;}
    /* GRILLA */
    .grilla {
        background-color: #040707;
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: .1fr 1.5fr 1.5fr 1.5fr .3fr; 
        gap: 1% 1%; 
        grid-template-areas: 
          "header header header"
          "sec1 sec1 sec1"
          "sec2 sec2 sec2"
          "sec3 sec3 sec3"
          "footer footer footer"; 
    }

    /* HEADER */
    .header {
        background-image: linear-gradient( to left, #c2bc99, rgb(20, 1, 1));
        grid-area: header;
    }
    .barranav{
        display: grid; 
        grid-template-columns: .3fr 1fr 1fr; 
        grid-template-rows: .5fr; 
        gap: 1% 0%; 
        grid-template-areas: 
        "logo barra barra"
        ;
        justify-items: center;
    }
    .ul-class {
        grid-area: barra;
        display: flex;
        flex-direction: row;
        margin: 1%;
        margin-left: 27%;
    }
    .ul-class a{
        color: #040707;
        font-size: large;   
    }
    .logotit{
        grid-area: logo;
        width: 100%;
        margin-right: 20%;   
    }

    /* SECCIONES */
    .section1 {
        grid-area: sec1;
        display: flex;
        flex-direction: row;
    }
    .section2 {
        grid-area: sec2;
        display: flex;
        flex-direction: row-reverse;
    }
    .section3 {
        grid-area: sec3;
        display: flex;
        flex-direction: row;
    }

    /* FOOTER */
    .footer {
        grid-area: footer;
        background-image: linear-gradient( to right, #c2bc99, rgb(20, 1, 1));
    }
}





